/****************************
Gonzalo Rodríguez Rodríguez
Descripción: Hoja de estilos para la calculadora Milan
*****************************/

body {

    /* Style */

    font-family: Arial, Helvetica, sans-serif;
    font-size: 3vh;
    color: black;
    background-color: #d1e6e7;
    text-align: justify;
    padding: 1vw;
    border: 1vw;
    margin: 1vw;

    align-self: center;

    /* Layout */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}

header {
    /* Layout */

    display: grid;

    grid-template-columns: 50vw;
    grid-template-rows: 15vh;
}

header > input {
    grid-template-columns: 1;
    grid-row: 1;
    text-align: right;
}

main {

    /* Layout */

    display: grid;
    
    grid-template-columns: 10vw 10vw 10vw 10vw 10vw;
    grid-template-rows: 15vh 15vh 15vh 15vh 15vh ;
}

input {
    font-size: 5vh;
}

input[value = "+"] {
    color: red;

    grid-row: span 2;
}