/****************************
Gonzalo Rodríguez Rodríguez
Descripción: Hoja de estilos principal del ejercicio 7
*****************************/

body { /* Especificidad: 001 */
    font-family: Arial, Helvetica, sans-serif;
    font-size: 3vh;
    color: black;
    background-color: #d1e6e7;
    text-align: justify;
    padding: 1vw;
    border: 1vw;
    margin: 1vw;

    align-self: center;
}
footer { /* Especificidad: 001 */
    color: black;
    background-color: #8eb9bb;
    padding: 1vw;
    text-align: left;
}
input { /* Especificidad: 001 */
    font-size: 1.5vh;
}
p { /* Especificidad: 001 */
    font-size: 2vh;
}
footer a { /* Especificidad: 001 */
    color: black;
    text-decoration: none;
    padding: 2vw;
    margin: 0vw;
}
a:visited { /* Especificidad: 011 */
    color: black;
}
p a:hover { /* Especificidad: 012 */
    color: orangered;
}
pre {
    overflow: auto;
}
code {
    white-space: pre-wrap;
}
canvas {
    width: 100vw;
    height: 100vh;
    background-color: white;
    color: black;
}
section {
    border: .5vw;
    border-style: dashed;
    padding: 5vw;
    margin: 2vw;
}
input {
    font-size: 3vh;
}