/****************************
Gonzalo Rodríguez Rodríguez
Descripción: Hoja de estilos principal de la página web,
    especifica el aspecto (fuentes, colores, tamaños de letra, márgenes, etc) de la página para todos los elementos html
*****************************/

body { /* Especificidad: 001 */
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1vw;
    color: black;
    background-color: #d1e6e7;
    text-align: justify;
    padding: 1vw;
    border: 1vw;
    margin: 1vw;

    align-self: center;
}
p { /* Especificidad: 001 */
    font-size: 1em;
}



a:visited { /* Especificidad: 011 */
    color: black;
    background-color: transparent;
}
li > a:hover { /* Especificidad: 012 */
    color: orangered;
    background-color: transparent;
}
main > a:hover { /* Especificidad: 012 */
    color: orangered;
    background-color: transparent;
}
a { /* Especificidad: 001 */
    color: black;
    background-color: transparent;
    text-decoration: none;
    padding: 2vw;
    margin: 0vw;
}

nav { /* Especificidad: 001 */
    font-size: 1.5vw;
    text-align: left;
}

nav > ul { /* Especificidad: 002 */
    list-style-type: none;
    padding: 1vw;
}


h1 { /* Especificidad: 001 */
    font-family: 'Times New Roman', Times, serif;
    font-size: 3vw;
    color: rgb(47, 47, 47);
    background-color: cadetblue;
}
header { /* Especificidad: 001 */
    color: black;
    background-color: cadetblue;
    padding: 2vw;
    text-align: center;
}
aside { /* Especificidad: 001 */
    color: black;
    background-color: #8eb9bb;
    padding: 1vw;
    text-align: left;
}
footer { /* Especificidad: 001 */
    color: black;
    background-color: #8eb9bb;
    padding: 1vw;
    text-align: right;
}
