/****************************
Gonzalo Rodríguez Rodríguez
Descripción:
*****************************/

body {
    display: grid;
    padding: 13em;
}
h1 {
    padding: 10em;
    background-color: bisque;
}
main p {
    background-color: blueviolet;
}
body main h2, h3 {
    margin: 0em;
    padding: 2em;
    background-color: coral;
}
aside {
    background-color: aquamarine;
}
footer {
    background-color: crimson;
}
